{% extends 'base.html.twig' %}

{% block title %}Edit Dinosaurs{% endblock %}

{% block body %}
    <h1>Edit Dinosaurs</h1>

    {{ include('dinosaurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">back to list</a>

    {{ include('dinosaurs/_delete_form.html.twig') }}
{% endblock %}
