{% extends 'base.html.twig' %}

{% block title %}Create New Dinosaur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create New Dinosaur</h1>

        {# Insertion du formulaire #}
        {{ include('dinosaurs/_form.html.twig') }}

        {# Lien pour revenir à la liste des dinosaures #}
        <a href="{{ path('home') }}" class="btn back-to-list">Back to List</a>
    </div>
{% endblock %}

